---
name: Rats
permalink: /rats/index.html
layout: layouts/base.njk
---

<h1>rats</h1>
<img src="/static/img/azula-louie-potatoes.jpg" alt="azula louie potatoes" />
<img src="/static/img/azula.jpg" alt="azula" />
<img src="/static/img/clover.jpg" alt="clover" />
<img src="/static/img/olive.jpeg" alt="olive" />
<img src="/static/img/azula-louie-babies.jpeg" alt="azula louie baby rattos" />
<img src="/static/img/azula-louie-ears.jpeg" alt="azula louie rat ears" />

