{% set workList = collections['featured work'][0] %}

 <ul class="home__works__list">
  {% for item in workList.data.works %}
    <li>
      <div class="home__works__img">
        <a href="{{item.link}}">
          <img src="{{item.img}}" alt="{{item.name}}" loading="lazy" />
        </a>
      </div>
      <div class="home__works__text">
        <h3>{{item.name}}</h3>
        <p>
          {{ item.body }}
        </p>
        {% if item.links %}
          {% for link in item.links %}
            <a class="home__works__link" href="{{link.url}}">{{link.title}}</a>
            &nbsp &nbsp
          {% endfor %}
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ul>
