{% set appearanceslist = collections['media appearances'][0] %}
<ul>
  {% for item in appearanceslist.data.appearances %}
    <li><a href="{{ item.link }}" >
    {% if item.img %}
      <img src={{ item.img }} alt={{ item.name }} />
    {% else %}
      <div class="home__appearances__default">{{ item.name }}</div></a></li>
    {% endif %}
    </a></li>
  {% endfor %}
</ul>
