---
layout: layouts/page.njk
section: about
---

<div class="profile-pic"><img alt="{{ imagePrimaryAlt }}" src="{{ imagePrimary }}" /></div>

{{ layoutContent | safe }}

{# {% include "components/form.njk" %} #}
