<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">SAE</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			<div class="main__content-wrapper">
				{{ layoutContent | safe }}
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
