---
layout: layouts/base.njk
section: home
---
<section class="hero">

  <div class="hero__text">
    <p>Sebastian A. Echeverri, Ph.D., is a scientist, educator, journalist and photographer.</p>
    <p>His mission is to spark curiosity in the natural world, and make science more accessible, inclusive and joyful for people of all ages and backgrounds.<p>
    {% include "components/socialmedia.njk" %}
  </div>

  <div class="hero__image">
    <img src="static/img/sebastian-outdoors.jpg" alt="Sebastian Echeverri smiling outside with his camera gear for wildlife photography" />
  </div>

</section>

<section class="home__appearances">
  <h2 class="section-title">Appearances in</h2>
  {% include "components/home_appearances.njk" %}
  {# <ul>
    <!-- <li><a href=""><img src="/static/img/science-friday-logo.png" alt="Science Friday"/></a></li> -->
    <li><a href="https://www.youtube.com/watch?v=oqOTWylyi9c" alt="The Big Fib trailer"><img src="/static/img/the-big-fib.png" alt="The Big Fib" /></a></li>
    <li><a href="https://intothewild.podbean.com/e/21-spiders-with-sebastian-echeverri/"><img src="/static/img/into-the-wild.jpg" alt="Into the Wild" /></a></li>
    <li><a href="https://www.youtube.com/watch?v=VmJdXdIiCBc&list=PL0p3Noz5BSA8ZgDsmSBW_C7S6QqFALpZb&index=7"><img src="/static/img/bama-bug-fest.jpg" alt="Bama Bug Fest"></a></li>
    <li><a href="https://www.twitch.tv/videos/637871441"><div class="home__appearances__default">Conservation Cast</div></a></li>
    <li><a href="https://soundcloud.com/schoolofbatman/the-case-of-the-spider-splicers-sebastian-alejandro-echeverri" alt="School of Batman"><img src="/static/img/school-of-batman.jpg" alt="School of Batman" /></a></li>
    <li><a href="https://podcasts.apple.com/us/podcast/tainted-love-part-1-spider-speed-dating-sebastian-echeverri/id1287125533?i=1000465590624" alt="The Wild Life" ><img src="/static/img/the-wild-life.jpg" /></a></li>
    <li><a href="https://castbox.fm/episode/Science%2C-Spiders%2C-and-Sebastian-Echeverri-id2608046-id227002891?country=us" alt="The Frizzle Factor" ><img src="/static/img/frizzle-factor.jpg" /></a></li>
  </ul> #}
</section>

<div class="home__works">
  <h2 class="section-title">Work</h2>
  <ul class="home__works__list">
    <li>
      <div class="home__works__img home__works__img__inquirer">
        <img src="/static/img/philadelphia-inquirer.svg" alt="Philadelphia Inquirer" />
      </div>
      <div class="home__works__text">
        <p class="home__works__default">
          Staff Writer, AAAS Mass Media Fellow & contributing photographer. Wrote for Inquirer’s Health & Science desk, with an average of 7,550 online readers.
        </p>
      </div>
    </li>
    <li>
      <div class="home__works__img">
        <img src="/static/img/skype-a-scientist.jpg" alt="Skype a Scientist" />
      </div>
      <div class="home__works__text">
        <p class="home__works__default">
          Taught classrooms from around the country about arachnid ecology and behavior through Q&A and guided observation of live animals conducted via video chat.
        </p>
      </div>
    </li>
    <li>
      <div class="home__works__img">
        <img src="/static/img/arachno-files.png" alt="ArachnoFiles" />
      </div>
      <div class="home__works__text">
        <p class="home__works__default">
          Founder, editor and writer of group blog where amateur and professional arachnologists write about arachnids for the public.
        </p>
      </div>
    </li>
    <li>
      <div class="home__works__img">
        <img src="/static/img/distillations.png" alt="Distillations" />
      </div>
      <div class="home__works__text">
        <p class="home__works__default">
          Founder, editor and writer of group blog where amateur and professional arachnologists write about arachnids for the public.
        </p>
      </div>
    </li>
  </ul>
</div>

<div class="home__blog-articles">
  <h2 class="section-title">Latest blog posts</h2>
  {% set postslist = collections.post %}
  {% include "components/postslisttop3.njk" %}
</div>
