---
layout: layouts/base.njk
section: home
---
<section class="hero">

  <div class="hero__text">
    <p>Sebastian A. Echeverri, Ph.D., is a scientist, educator, journalist and photographer.</p>
    <p>His mission is to spark curiosity in the natural world, and make science more accessible, inclusive and joyful for people of all ages and backgrounds.<p>
    {% include "components/socialmedia.njk" %}
  </div>

  <div class="hero__image">
    <img src="static/img/sebastian-outdoors.jpg" alt="Sebastian Echeverri smiling outside with his camera gear for wildlife photography" />
  </div>

</section>

<section class="home__appearances">
  <h2 class="section-title">Appearances in</h2>
  {% include "components/home_appearances.njk" %}
</section>

<section class="home__works">
  <h2 class="section-title">Featured Work</h2>
  {% include "components/featured_works.njk" %}
  {# <ul class="home__works__list">
    <li>
      <div class="home__works__img home__works__img__inquirer">
        <img src="/static/img/philadelphia-inquirer.svg" alt="Philadelphia Inquirer" />
      </div>
      <div class="home__works__text">
        <p class="home__works__default">
          Staff Writer, AAAS Mass Media Fellow & contributing photographer. Wrote for Inquirer’s Health & Science desk, with an average of 7,550 online readers.
        </p>
      </div>
    </li>
    <li>
      <div class="home__works__img">
        <img src="/static/img/skype-a-scientist.jpg" alt="Skype a Scientist" />
      </div>
      <div class="home__works__text">
        <p class="home__works__default">
          Taught classrooms from around the country about arachnid ecology and behavior through Q&A and guided observation of live animals conducted via video chat.
        </p>
      </div>
    </li>
    <li>
      <div class="home__works__img">
        <img src="/static/img/arachno-files.png" alt="ArachnoFiles" />
      </div>
      <div class="home__works__text">
        <p class="home__works__default">
          Founder, editor and writer of group blog where amateur and professional arachnologists write about arachnids for the public.
        </p>
      </div>
    </li>
    <li>
      <div class="home__works__img">
        <img src="/static/img/distillations.png" alt="Distillations" />
      </div>
      <div class="home__works__text">
        <p class="home__works__default">
          Founder, editor and writer of group blog where amateur and professional arachnologists write about arachnids for the public.
        </p>
      </div>
    </li>
  </ul> #}
</div>

<div class="home__blog-articles">
  <h2 class="section-title">Latest blog posts</h2>
  {% set postslist = collections.post %}
  {% include "components/postslisttop3.njk" %}
</div>
