---
layout: layouts/base.njk
section: home
---
<section class="hero">
  <div class="hero__text">
    <h1 class="visually-hidden">Sebastian A. Echeverri, Ph.D</h1>
    {{ layoutContent | safe }}
    {% include "components/socialmedia.njk" %}
  </div>

  <div class="hero__image">
    <img src="{{imagePrimary}}" alt="{{imagePrimaryAlt}}" />
  </div>
</section>

<section class="home__appearances">
  <h2 class="section-title">Appearances in</h2>
  {% include "components/home_appearances.njk" %}
</section>

<section class="home__works">
  <h2 class="section-title">Featured Work</h2>
  {% include "components/featured_works.njk" %}
</div>

{# <div class="home__secondary-img middle">
  <img src="{{imageSecondary}}" alt="{{imageSecondaryAlt}}" />
</div> #}


<div class="home__blog-articles">
  <h2 class="section-title">Latest blog posts</h2>
  {% set postslist = collections.post %}
  {% include "components/postslisttop3.njk" %}
</div>

<div class="home__secondary-img">
  <img src="{{imageSecondary}}" alt="{{imageSecondaryAlt}}" />
</div>
