---
layout: layouts/base.njk
section: post
---

<article class="blog-post">
  <div class="col__left">
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </small>

    <h1>{{ title }}</h1>
    <div class="blog-post__hero">
      <img src={{image}} alt="" />
    </div>

    {{ layoutContent | safe }}
  </div>
  <div class="col__right">
    {% if tags %}
      <div class="blog-post__tags">
        <h2>Tags</h2>
        <ul>
        {% for tag in tags %}
          {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <li><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></li>
          {%- endif -%}
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
